In [1]:
import pandas as pd
import numpy as np
data=pd.read_excel(r'C:\Users\AYUSHI_AYUSHI\Documents\RPA_Assignment\Excel_2.xlsx')

In [2]:
Input=data.drop(['Unnamed: 5','Unnamed: 6'],axis=1)
Input ["start_timestamp"] = Input.startdatetime.values.astype(np.int64) // 10 ** 9
Input ["end_timestamp"] = Input.enddatetime.values.astype(np.int64) // 10 ** 9

In [28]:
Input.head()

,sessionid,startdatetime,enddatetime,processid,Duration (mins),start_timestamp,end_timestamp
0,0ED0CFF8-06EB-41ED-AEF9-5F12139E53CB,2020-02-28 14:00:16.313,2020-03-02 05:03:48.387,108BC1E0-174B-4210-A1D0-760DF09A8B50,3783,1582898416,1583125428
1,7259583E-3438-40AE-BADF-0ED52C29C8F4,2020-02-28 17:42:20.187,2020-03-02 11:39:06.847,6D60BDB2-1EF6-4BDD-A417-C19654CCBB9D,3957,1582911740,1583149146
2,9769A4BD-400D-4E4C-A27B-BA9EB04C16A0,2020-02-28 18:27:05.923,2020-03-02 10:54:07.753,E64C4A2A-F3BB-4AAE-B36F-D0709F976AEE,3867,1582914425,1583146447
3,44912131-05E2-43FE-9F87-626B4938730E,2020-02-28 18:53:10.787,2020-03-02 10:57:12.427,6288AC39-69E7-40C4-A7E6-3C8D76ADB19B,3844,1582915990,1583146632
4,C8049FA3-5542-4EDE-8341-92C48B4A7E86,2020-02-28 21:30:06.963,2020-03-02 12:54:38.290,08B3574C-B1E6-4295-8D04-D341A336A46C,3804,1582925406,1583153678

In [29]:
Input["start_timestamp"] = pd.to_numeric(Input["start_timestamp"])
Input["end_timestamp"] = pd.to_numeric(Input["end_timestamp"])

In [3]:
desired_time = pd.Timestamp('2020-03-08 00:01:00', tz=None)
from datetime import datetime
desired_time = datetime(2020, 3, 8, 0, 1, 0)

In [33]:
ts = int(desired_time.timestamp())
type(Input["start_timestamp"][0])

In [37]:
# In march month
len(Input[(Input["start_timestamp"]<=ts) & (Input["end_timestamp"]>=ts)])

14

In [38]:
start_march_2020 = int(datetime(2020, 3, 1, 0, 0, 0).timestamp())
end_march_2020 = int(datetime(2020, 3, 31, 23, 0, 0).timestamp())

In [39]:
(end_march_2020 - start_march_2020)/86400
march_data_2020 = Input[(Input["start_timestamp"]<=start_march_2020) & (Input["end_timestamp"]>=end_march_2020)]

30.958333333333332

In [44]:

import dash
import dash_core_components as dcc
import dash_html_components as html
import plotly.express as px
import pandas as pd

<ipython-input-44-ec0c20682e87>:2: UserWarning:
The dash_core_components package is deprecated. Please replace
`import dash_core_components as dcc` with `from dash import dcc`
  import dash_core_components as dcc
<ipython-input-44-ec0c20682e87>:3: UserWarning:
The dash_html_components package is deprecated. Please replace
`import dash_html_components as html` with `from dash import html`
  import dash_html_components as html

In [62]:
import matplotlib.pyplot
import matplotlib.dates
from datetime import datetime

x_values = Input["processid"]
y_values = Input["start_timestamp"]

dates = matplotlib.dates.date2num(x_values)
matplotlib.pyplot.plot_date(dates, y_values)

ValueError: Error parsing datetime string "108BC1E0-174B-4210-A1D0-760DF09A8B50" at position 3